@using MySocialNetwork.DTO
@using MySocialNetwork.Models.SocialNetwork
@model MySocialNetwork.DTO.WallDto

@{
    UserDto userDto = (UserDto) Session["session"];
    IEnumerable<int> scoredPostIds = userDto.ScoredPosts.Select(sp => sp.PostId);
}

@{
    foreach (PostDto post in Model.Posts)
    {
        <div>
            <p>
                @Html.ActionLink(post.Author.FirstName + " " + post.Author.SecondName, "PrivatePage", new {login = post.Author.Login})
            </p>
            <p>
                @post.Text
            </p>
            <p>
                @Html.Label("Post's rating: ")
                @post.Rating
                @using(Ajax.BeginForm("ScorePost", new {postId = post.Id, wallId = post.WallId, type = ScoreTypes.Positive, userId = userDto.Id}, new AjaxOptions() {UpdateTargetId = "wall"}))
                {
                    if (!scoredPostIds.Contains(post.Id))
                    {
                        <input type="submit" value="Like"/>   
                    }
                }
                @using(Ajax.BeginForm("ScorePost", new {postId = post.Id, wallId = post.WallId, type = ScoreTypes.Negative, userId = userDto.Id}, new AjaxOptions() {UpdateTargetId = "wall"}))
                {
                    if (!scoredPostIds.Contains(post.Id))
                    {
                        <input type="submit" value="Dislike"/>   
                    }
                }
            </p>
            <p>
                @{
                    if (post.Photos.Count > 0)
                    {
                        //Html helper here
                    }
                    if (post.Videos.Count > 0)
                    {
                        //Html helper here
                    }
                    if (post.Sounds.Count > 0)
                    {
                        //Html helper here
                    }
                }
            </p>
        </div>
    }
}
